body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#fde8ef,#fff8fb);
    font-family:Arial,sans-serif;
}

h1{
    color:#d86d93;
    font-size:60px;
}
